################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HyperQL
/HyperQL/obj
/.vs/Pulsar.EntityFrameworkCore.BaseService
/HyperQL/bin/Debug
